@font-face {
  font-family: 'NYTFont';
  src: url("fonts/Cheltenham.woff2"), url("fonts/Cheltenham.woff");
}

body{
  background-color: #F7F7F7;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgb(19, 18, 18);
}
header{
  background-color: white;
  overflow: hidden;
}

nav {
  margin-top: 5px;
}

.menu-element{
  margin-top: 20px;
}

.menu_icon {
  width: 40px;
  float: left;
}

.search_icon {
  width: 40px;
  float: left;
}

.middle_nav {
  margin: 0 auto;
  width: 200px;
}

#new-york-times-logo {
  height: 35px;
  float: left;
}

.space_cosmos {
  width: 200px;
  float: left;
  margin-top: auto;
}

.right_nav{
  float: right;
  margin-top: 0;
}

article{
  font-size: 1.25rem;
  line-height: 1.875rem;
  padding: 25px 0;
  clear: both;
}
h4 {
  margin-top: 0px;
}

.middle_nav img {
  margin-top: -6px;
}

#subscribe-now, #log-in {
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  height: 35px;
  font-weight: 700;
  border-radius: 4px;
}

#article_title {
  max-width: 60%;
  margin: 0 auto;
  font-family: 'NYTFont';
  font-size: 45px;
  font-style: italic;
  line-height: 60px;
}

.space {
  float: left;
  width: 25%;
}

.nyt-media-80{
  width: 80%;
  margin: 0 auto;
}

#main-image-article{
  max-width: 100%;
  margin: 0 auto;
}
.image-legend{
  max-width: 720px;
  float: left;
}

.image-description{
  font-size: 0.9375rem;
  line-height: 10px;
}
.photo-author{
  font-size: 0.8125rem;
}

.main-content {
  clear: both;
  width: 45%;
  margin: 0 auto;
}

#author-date{
  float: left;
}
#author {
  font-weight: 100;
  font-size: 20px;
  font-family: inherit;
  line-height: 45px;
}

#social-icons {
  float: right;
  width: 20%;
}

.fa-facebook, .fa-twitter{
  background: #ccc;
  color: rgb(22, 21, 21);
  width: 30px;
  height: 27px;
  text-align: center;
  border-radius: 50%;
  padding-top: 14px;
}

.facebook {
  height: 67px;
  width: 20px;
  float: left;
  padding-right: 20px;
}

.twitter {
  height: 67px;
  width: 20px;
  float: left;
  padding-right: 20px;
}

.email {
  height: 67px;
  width: 20px;
  float: left;
  padding-right: 20px;
}

p {
  padding: 10px 0;
  clear: both;
}
strong{
  font-weight: 700;
}

#create-account-log-in{
  text-align: center;
}

.line-separator{
  border-bottom: 1px solid rgb(204, 204, 204);
  width: 72px;
  margin: 0 auto 0;
}

#table{
  width: 100%;
}

#the-universe, #still-not-enough{
  left: 2.0436%;
}
#not-enough-time, #inflation{
  left: 7%;
}
#distant-coffee, #fluctuation{
  left: 11%;
}
#coffee-everywhere, #expansion {
  left: 15%;
}

.table-items {
  width: 250px;
  float: left;
  position: relative;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  color: #000000;
  margin-right: 10px;

}

.bottoms {
  bottom: 550px;
}

.tops {
  bottom: 330px;
}

#story-footer {
  background: #000000;
  margin: 0 0 13px;
}

#larry {
  position: relative;
  bottom: 320px;
  font-size: .875rem;
  font-weight: 500;
  font-style: normal;
  font-family: nyt-franklin,arial,helvetica,sans-serif;
  left: 2%;
}

.main-content-lower-paragraphs {
  position: relative;
  bottom: 300px;
}
iframe {
  width: 100%;
  height: 420px;
}
#video-legend{
  font-size: 0.9rem;
}
#video-legend-author{
  font-size: 0.8rem;
  color: #888;
}
#article-legend {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(102, 102, 102);
}
#article-legend a{
  color: rgb(102, 102, 102);
}
.social-button{
  position: relative;
  bottom: 4px;
  top: -5px;
  left: 3px;
}

.social-button-facebook {
  width: 7px;
  height: 15px;
}

li {
  background-color: #eee;
  border: 1px #eee solid;
  border-radius: 100%;
  padding: 5px;
  width: 15px;
  height: 15px;
  position: relative;
  top: auto;
}

.bottom-left {
  float: left;
  width: 50%;
}

.bottom-right {
  float: right;
}

ul li {
  float: left;
}

.bottom-left button {
  background-color: rgb(86, 123, 149);
  color: white;
  display: block;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  border-style: solid;
  border-color: rgb(50, 104, 145);
  border-radius: 3px;
  height: 35px;
  width: 100%;

}

#bottom-of-article {
  margin-top: 30px;
}

#sign-up{
  max-width: 80%;
  margin: 0 auto;
}
#sign-up-text {
  float: left;
}

#sign-up-form {
  float: right;
}
#input-email {
  float: left; 
  width: 50%;

  color:rgb(51, 51, 51);
  border: 0px none;
  border-radius: 3px;
  box-shadow: none;
  box-sizing: border-box;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  height: 30px;
  line-height: 15px;
  padding: 0px;
  vertical-align: middle;
  width: 100%;
  
}
#sign-up-button {
  float: right;
  width: 40%;

}

h3 {
  color: rgb(0, 0, 0);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 15px;
}

.footer-signup {
  width: 80%;
  margin: 0 auto;
}

.footer-signup-right {
  float: right;
  width: 50%;
}

.footer-signup-left {
  background-color: chocolate;
  width: 50%;
}

.footer-signup-right {
  /* background-color: cornflowerblue; */
}

.footer-signup-left p {
  color: rgb(102, 102, 102);
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
}

input[type="email"] {
  width: 70%;
  float: left;
  height: 30px;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid rgb(226, 226, 226);


}
input[type="submit"] {
  float: right;
  width: 29.3%;
  height: 35px;
  border-radius: 0px 4px 4px 0px;
  background-color: rgb(50, 104, 145);
  color: rgb(255, 255, 255);
  border-style: none;
  position: relative;
  right: 18px;

  

}