/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
  font-family: 'NYTFont';
  src: url("fonts/Cheltenham.woff2"), url("fonts/Cheltenham.woff");
}

body{
  background-color: #F7F7F7;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: rgb(19, 18, 18);
}
header{
  background-color: white;
  overflow: hidden;
  /* height: 40px; */
}

nav {
  margin-top: 5px;
}

.left_nav {
  /* background-color: rgb(55, 55, 173); */
}

.menu-element{
  margin-top: 20px;
}

.menu_icon {
  width: 40px;
  float: left;
}

.search_icon {
  width: 40px;
  float: left;
}

.middle_nav {
  margin: 0 auto;
  width: 200px;
}

#new-york-times-logo {
  height: 35px;
  float: left;
}

.space_cosmos {
  /* background-color: chocolate; */
  width: 200px;
  /* height: 200px; */
  float: left;
  margin-top: auto;
}

.right_nav{
  float: right;
  margin-top: 0;
}

h4 {
  margin-top: 0px;
}

.middle_nav img {
  margin-top: -6px;
}

#subscribe-now, #log-in {
  background-color: #567b95;
  border: 1px solid #326891;
  color: #fff;
  font-size: 11px;
  height: 35px;
  font-weight: 700;
  border-radius: 4px;
}

#article_title {
  background-color: chocolate;
  max-width: 60%;
  margin: 0 auto;
  font-family: 'NYTFont';
  font-size: 45px;
  font-style: italic;
  line-height: 60px;
}

.space {
  float: left;
  width: 25%;
  height: ;
}

.nyt-media-80{
  width: 80%;
  margin: 0 auto;
}

#main-image-article{
  max-width: 100%;
  margin: 0 auto;
}
.image-legend{
  max-width: 720px;
  float: left;
}

.image-description{
  font-size: 0.9375rem;
}

.photo-author{
  font-size: 0.8125rem;
}

.social-date-author{
  clear: both;
}